body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#clock-container {
    margin-top: 50px;
}

#clock {
    font-size: 36px;
    color: #333;
}
